html {
	background-color: black;
	font-family: sans-serif;
}
#container {
	max-width: 700px;
	width: 90vw;
	margin: 0 auto;
}
h1 {
	color: white;
	margin-bottom: 0;
	font-size: 40px;
}
#content {
	margin-top: 0;
	background-color: white;
	padding: 20px;
	border-radius: 3px;
}
#content > * {
	margin: 0 0 20px;
}
#content > h2, #content > :last-child {
	margin-bottom: 0;
}
.lead {
	font-size: 1.2em;
}
code {
	background-color: #aaa;
	padding: 2px;
}
.block {
	display: block;
	padding: 10px;
}
h1 a {
	color: inherit;
	text-decoration: none;
}
.button {
	display: inline-block;
	border: 1px solid black;
	color: black;
	background-color: white;
	border-radius: 8px;
	text-decoration: none;
	padding: 10px;
}
